[user]
	email = jakefaulkn@gmail.com
	name = Jake Faulkner
[pull]
	rebase = false
[difftool.latex]
        cmd = git-latexdiff \"$LOCAL\" \"$REMOTE\"
[difftool]
        prompt = false
[alias]
        ldiff = difftool -t latex
