config/emacs/auto-save-list/
config/emacs/bookmarks
config/emacs/detached/
config/emacs/devdocs/
config/emacs/eln-cache/
config/emacs/elpa/
config/emacs/elpaca/
config/emacs/emacs-backup/
config/emacs/eshell/
config/emacs/forge-database.sqlite
config/emacs/history
config/emacs/my-lookup-history.el
config/emacs/places
config/emacs/projects
config/emacs/recentf
config/emacs/tramp
config/emacs/transient/
config/emacs/tree-sitter/
config/emacs/url/
